<%= stylesheet_link_tag 'modules/AlertCreateEvent' %>

<% if events.count >= 1 and  events.count  < 20 %>
	<div class="Grid-cell u-size4of12 u-centralize">
		<div class="AlertCreateEvent AlertCreateEvent--withBorder">
			<div class="AlertCreateEvent-text u-posAbsoluteCenter">
              <span>Não há mais eventos no momento. <%= current_or_guest_user.guest? ? link_to_function('Criar evento', 'Villeme.Ux.loginModal("Você precisa estar logado para criar um evento.")') : link_to('Criar evento.', new_event_path, class: 'link link-green') %></span>
            </div>
		</div>
	</div>
<% end %>