

<% if @number_of_events == 0 %>
	<div class="Grid-cell u-size12of12">
      <div class="AlertCreateEvent AlertCreateEvent--withBorder centralize">
        <div class="AlertCreateEvent-text AlertCreateEvent-text--large u-posAbsoluteCenter">
          <span>Não há eventos no momento em <%= @city.name %>. <%= link_to "Criar evento.", new_event_path, class: "link link-green" %></span>
        </div>
      </div>
	</div>
<% end %>