<% if @number_of_events == 0 %>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centralize">
		<span>Não há eventos no momento. <%= link_to "Criar evento.", new_event_path, class: "link link-green" %></span>
	</div>
<% end %>