<% if @number_of_events >= 1 and  @number_of_events  < 20 %>
	<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs centralize">
		<div class="no-more height-325 grid">
			<span style="position: absolute; top: 50%; left: 0px; padding: 0px 25px;">Não há mais eventos no momento. <%= link_to "Criar evento.", new_event_path, class: "link link-green" %></span>
		</div>
	</div>
<% end %>