<h3>Estão em alta</h3>
<div class="Grid Grid--withGutter">
  <%= render 'alert_none_events' %>

  <% if current_or_guest_user.guest? %>
      <%= render 'events_for_guest', events: @events_trends %>
  <% else %>
      <%= render 'events', events: @events_trends %>
  <% end %>

  <%= render 'alert_create_new_event', events: @events_trends %>
</div>