#encoding: utf-8

<div id="sidebar-right" class="ps-container">

  <div class="SidebarMap js-FixingMapOnScroll panel panel-default">
    <div class="panel-body user-box sidebar no-padding">

        <div id="map" style="width:100%"></div>

    </div>



    <% if user_signed_in? %>
        <div class="SidebarMap-neighborhoodCount panel-body">
            <ul class="list-group m-0 font-12">
                <%= render "newsfeed/sidebar/neighborhood_count" %>
            </ul>
        </div>

        <ul class="SidebarMap-infos list-group">
          <li class="SidebarMap-icon list-group-item js-distanceWithWalking" title="Indo caminhando"><span class="data"></span> caminhando</li>
          <li class="SidebarMap-icon list-group-item js-distanceWithBike" title="Indo de bicicleta"><span class="data"></span> pedalando</li>
          <li class="SidebarMap-icon list-group-item js-distanceWithBus" title="Indo de ônibus"><span class="data"></span> de ônibus</li>
          <li class="SidebarMap-icon list-group-item js-distanceWithCar" title="Indo de carro"><span class="data"></span> dirigindo</li>
        </ul>

    <% end %>

  </div>





</div>
