<div class="row"> 

  <div class="col-lg-6 p-15-0 u-centralize">
    <span class="font-11">PONTOS</span><br/>
    <span class="font-22"><%= @user.points %>pts.</span>
  </div>

  <div class="col-lg-6 p-15-0 u-centralize">
    <span class="font-11">LEVEL</span><br/>
    <span class="font-22"><%= @user.level.name %></span>
  </div>

  <div class="col-lg-6 p-15-0 u-centralize">
    <span class="font-11">AMIGOS</span><br/>
    <span class="font-22"><%= @user.accepted_friends.count %></span>
  </div>

  <div class="col-lg-6 p-15-0 u-centralize">
    <span class="font-11">EVENTOS</span><br/>
    <span class="font-22"><%= @user.agenda_events.count %></span>
  </div>

</div>