<h3 class="u-centralize">Mais informações</h3>
<div class="row">


  <!-- Email -->
  <% unless @item.email.blank? %>
  <div class="col-md-4 col-lg-4 u-no-padding">
    <p>
      <%= @item.email %>
    </p>
  </div>
  <% end %>
  

  <!-- Telefone -->
  <% unless @item.phone.blank? %>
  <div class="col-md-4 col-lg-4">
    <p>
      <%= @item.phone %>
    </p>
  </div>
  <% end %>


  <!-- Link -->
  <% unless @item.link.blank? %>
  <div class="col-md-4 col-lg-4">
    <p>
      <%= link_to "#{clean_url @item.link[0..24]}...", @item.link, target: "_blank" %>
    </p>
  </div>
  <% end %>

</div>