

<div id="load-event" class="panel panel-default event" style="display:none">
  <div class="panel-body">

    <div class="row" style="margin: -15px -15px 6px; border-top-right-radius: 5px; overflow: hidden; border-top-left-radius: 5px;">

      <div class="col-sm-12 no-padding">
        <div class="row">

          <div class="load-image col-sm-4">
            <img  class="magic" src="">
          </div>

          <div id="load-map" class="col-sm-8" style="height:215px">

          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="load-header">
          <h4 class="load-title"></h4>
            <div class="load-infos">
              <div class="place"><span></span></div>
              <div class="address"><span></span></div>
              <div class="number"><span></span></div>
              <div class="distance"><span></span></div>
            </div>
        </div>
        
          
        <div class="row  no-fifteen-margin">

          <div class="load-body col-sm-12 no-fifteen-margin no-fifteen-padding">
            <div class="row">

              <div class="col-sm-12 no-fifteen-padding">
                <h3 class="col-sm-4">Descrição</h3>
                  <p class="col-sm-8"></p>

              </div>
            </div>
          </div>


          
        </div>


        
      </div>
    </div>

  </div>
</div>