@import 'variables';

.Event--single{

  font-family: $font-family-default;
  margin-top: 30px;

  &:hover{
    & .box-top .agenda-btn{
      display: inline;
    }
  }


  & .agended-by-count{
    border-color: inherit;
    border-style: solid;
    border-width: 0 0 0 1px;
    margin: 0 0 0 6px;
    padding: 6px 2px 6px 5px;

    &:empty{
      display:none;
    }
  }

  & a{
    color: $green;
    &:hover{
      color: scale_color($green, $lightness: 20%);
      text-decoration: none;
    }
  }
  & h2{
    color: $grey;
    font-family: $font-family-default;
    & a{
      color: $grey;
      font-family: $font-family-default;
      font-size: 18px;
      font-weight: normal;
      &:hover{
        color: $green;
        text-decoration: none;
      }
    }
  }
  & h3{
    font-family:$font-family-default;
  }

  & .panel{

    & .col-sm-8{
      height: 200px;
    }
    & .col-sm-4{

    }
    & img{

      &:hover{

      };
    }
  }
  & .panel-body{
    font-family: $font-family-default;
    line-height: 1.7em;

    & .title {
      margin-top: 0px;
    }

    & .panel-body-item{
      border-bottom: 1px solid $border-color;
    }
    & .panel-body-item:last-child{
      border-bottom: 0;
    }
  }
  & .image{
    background-position: center top;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 215px;
    margin: 0;

    & img{

    }
  }
  & .description{

  }
  & .snippet{
    cursor: pointer;
    height: 4em;
  }
  & .read-more{
    box-shadow: 0 -11px 10px 0 rgba(255, 255, 255, 1);
    color: $green;
    display: block;
    padding: 6px;
    position: relative;
    text-align: center;
    z-index: 11;

    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  & .infos{
    color: scale_color($grey, $lightness: 10%);
    & div{
      display: block;
      padding:0 25px 0 0;
      margin:12px 0;
      & .icon{
        background-repeat: no-repeat;
        display: inline-block;
        height: 1em;
        margin: 0 5px 0 0;
        width: 1em;
      }
      & .bus{
        background-image: url("/images/icons/bus-gray.png");
      }
    }
    & div:last-child{
      padding:0;
    }
  }
  & .dia{
    background: none repeat scroll 0 0 #EDEFF0;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    padding: 4px 6px 4px 15px;
  }
  & .dia-completo{
    background: none repeat scroll 0 0 #F4F5F6;
    padding: 4px 6px 4px 9px;
  }
  & .hora{
    background: none repeat scroll 0 0 #f8f9f9;
    border-top-right-radius: 0;
    padding: 4px 6px;
  }
  & .transport{
    background: none repeat scroll 0 0 #FBFCFC;
    padding: 4px 6px 4px 15px;
    cursor: help;
  }
  & .price{
    background: none repeat scroll 0 0 #5FCF80;
    font-size: 11px;
    left: 8px;
    padding: 5px 8px;
    position: absolute;
    top: -8px;
    z-index: 8;
  }

  & .tomorrow{
    background: none repeat scroll 0 0 #669ACD;
    font-size: 11px;
    padding: 5px 8px;
    text-transform: uppercase;
    z-index: 8;
  }
  & .image-box{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 200px;
    margin: 0 -15px;
    overflow: hidden;
  }
  & .header{

    & h4{
      margin: 20px 0 10px;
    }
  }
  & .periodo{
    margin: 0 8px 0 0;

    & .today{
      margin: 0 0 0 3px;
      text-transform: uppercase;
    }
  }
  & .horarios > div {
    display:inline-block;
  }
  & .categories{
    color: scale_color($grey, $lightness: 20%);
    & img{
      padding: 0 10px;
    }

  }
  & .body{
    & p{
      line-height: 1.8em;
    }
    & h3{
      margin: 5px 0 0;
      padding: 0 15px;
      text-align: right;
    }
  }
  & .categorias{


    & .item{
      border: 1px solid scale_color($grey, $lightness: 80%);
      border-radius: 3px;
      color: scale_color($grey, $lightness: 60%);
      display:inline-block;
      font-family: Helvetica,sans-serif;
      font-size: 9px;
      margin: 0 3px 0 0;
      padding: 3px 4px;
    }
    & .lazer{

      & .circle{
        background: none repeat scroll 0 0 #5FCF80;
        border-radius: 3px;
        display:inline-block;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .saude{

      & .circle{
        background: none repeat scroll 0 0 #c8423f;
        border-radius: 3px;
        display:inline-block;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .esporte{

      & .circle{
        background: none repeat scroll 0 0 #a6d78e;
        border-radius: 3px;
        display:inline-block;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .educacao{

      & .circle{
        background: none repeat scroll 0 0 #669acd;
        border-radius: 3px;
        display:inline-block;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .cultura{

      & .circle{
        background: none repeat scroll 0 0 #4a2f83;
        border-radius: 3px;
        display:inline-block;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .alimentacao{

    }
  }
  & .nearbys{

    & .item{

    }
  }
  & .letter {
    background: $red;
    border-radius: 100%;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 8px;
    width: 30px;
    z-index: 7;

    & span {
      color: #ffffff;
      font-family: varela round,sans-serif;
      font-size: 20px;
      position: relative;
      top: 0;
    }
  }

}

