@import 'variables';

.EventSingle{
  position: relative;
  margin: 30px 0 0 0;

  &-agendedByCount {
    border-color: inherit;
    border-style: solid;
    border-width: 0 0 0 1px;
    margin: 0 0 0 6px;
    padding: 8px 0 8px 8px;

    &:empty {
      display: none;
    }
  }

  &-buttonsBox {
    left: 9px;
    position: absolute;
    top: 18px;
    z-index: 8;

    & .label-default {
      background: desaturate($blue, 80%);
      color: $white;
    }

  }

  &-button{
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    min-height: 30px;
    padding: 8px 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    text-transform: capitalize;
  }

  &-buttonText{
    text-shadow: 0 1px #ffffff;
  }

  &-dayButton {
    color: $grey;
    background: linear-gradient(#fff, #f0f0f0);
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.3);
    text-shadow: none;
    display: inline;
  }

  &:hover .EventSingle-dayButton {
    color: $grey;
    background: linear-gradient(#fff, #f0f0f0);
    background-color: $white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.3);
    text-shadow: 0 1px #ffffff;
  }

  &:hover .EventSingle-subCat {
    opacity: 1;
    font-weight: 500;
  }


  &-agendaButton{
    color: #3B5450;
    text-shadow: 0 1px #ffffff;
    background: linear-gradient(#fff, #f0f0f0);
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.3);
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);

    &:hover{
      color: $white;
      text-shadow: 0 1px $green;
      background-color: $green;
      background: linear-gradient($green, $green-dark);

      & .EventSingle-buttonText{
        text-shadow: 0 1px $green-dark;
      }
    }

    &.is-schedule {
      display: inline;
      color: $white;
      background-color: $green;
      background: linear-gradient($green, $green-dark);

      & .EventSingle-buttonText{
        text-shadow: none;
      }

      & .EventSingle-agendedByCount{
        text-shadow: none;
      }
    }
  }

  &:hover {

    & .EventSingle-buttonsBox .EventSingle-agendaButton {
      display: inline;

    }
    & .title a {
      text-decoration: underline;
      color: $green;
    }
  }

  & a {

    &:hover {
      text-decoration: none;
    }
  }

  & h2 {
    & a {
      color: $grey;
      font-family: $font-family-default;
      font-size: 18px;
      font-weight: normal;
      &:hover {
        color: $green;
        text-decoration: none;
      }
    }
  }

  & h4 {
    color: #384047;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
  }

  &-title {
    font-size: 22px;
    font-weight: bold;
    font-family: $font-family-default;
    margin: 6px 0 10px 0;
  }

  & .panel {
    margin: 0;
    & .col-sm-8 {
      height: 200px;
    }
    & .col-sm-4 {

    }
    & img {

      &:hover {

      }
    }
  }

  & .caption {
    font-family: $font-family-default;
    font-weight: 300;
    position: relative;
  }

  &-subCat {
    font-size: 9px;
    text-transform: uppercase;
  }

  &-description {
    color: $grey;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }

  & .infos {
    color: scale_color($grey, $lightness: 20%);
    font-family: $font-family-default;
    font-size: 11px;
    background: #FCFCFC;
    margin: 0 -15px 0px;
    border-top: 1px solid #f1f1f1;
    border-bottom-right-radius: 10px;
    padding: 10px;
    border-bottom-left-radius: 10px;

    & .free{
      color: $green;
      font-weight: 600;
    }

    & span {
      border-right: 1px solid $border-color;
    }
    & span:first-child {
      padding-left: 0;
    }
    & span:last-child {
      border-right: 0;
    }
  }
  & .dia, .preco, .hora {
    padding: 0 6px;
  }

  & .transport {
    background: none repeat scroll 0 0 #FBFCFC;
    padding: 4px 6px 4px 15px;
    cursor: help;
    & .icon {
      margin: -4px 6px 0 -6px !important;
      padding: 0;
    }
  }
  & .price {
    background: none repeat scroll 0 0 #5FCF80;
    font-size: 11px;
    left: 8px;
    padding: 5px 8px;
    position: absolute;
    top: -8px;
    z-index: 8;
  }

  & .today {

  }
  & .tomorrow {

  }

  &-imageBox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 285px;
    overflow: hidden;
  }



  & .details-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 149px;

    & .buttons {
      opacity: 0;
      margin: 25px auto 0;
      text-align: center;
      width: 60%;
      min-width: 135px;

      & .btn {
        margin-bottom: 6px;

        &:hover {

          & > .glyphicon {
            display: inline-block;
          }
        }
      }

      & .glyphicon {
        display: none;
        margin: 1px -24px 0 6px;
        vertical-align: text-top;
      }

    }
  }

  & .categorias {

    & .item {
      display: none;
      border-radius: 15px;
      color: #ffffff;
      float: left;
      font-family: "Roboto", helvetica, arial, sans-serif;
      font-size: 11.5px;
      font-weight: 500;
      margin: 0 3px 0 0;
      padding: 4px 10px;
      transition: all 0.45s ease 0s;

      & .circle {
        border-radius: 3px;
        float: left;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .leisure {
      background: $green;
    }
    & .health {
      background: $red;
    }
    & .sport {
      background: $orange;
    }
    & .education {
      background: $blue;
    }
    & .culture {
      background: $purple;
    }
    & .food {
      background: $yellow;
    }
  }
  & .nearbys {

    & .item {

    }
  }
  & .letter {
    background: $red;
    border-radius: 100%;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 8px;
    width: 30px;
    z-index: 7;

    & span {
      color: #ffffff;
      font-family: varela round, sans-serif;
      font-size: 20px;
      position: relative;
      top: 0;
    }
  }

}