@import 'variables';

.Event{

  &:hover {

    & .Event-buttonsBox .Event-agendaButton {
      display: inline;

    }

    & .Event-title a {
      color: $green;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
    font-family: $font-family-default;
    margin: 20px 0 6px 0;
  }

  &-place{
    display: none;
    float: left;
    font-size: 11px;
    color: #fff;
    height: 1.2em;
    margin: 7px 6px 0 0;
    font-weight: 500;
    overflow: hidden;
    vertical-align: middle;
    text-shadow: 0 1px 5px rgba(0,0,0,0.6);

    & a{
      color: $white;
    }
  }

  &.grid:hover .Event-place {
    display: block;
  }

  &-agendedByCount {
    border-color: inherit;
    border-style: solid;
    border-width: 0 0 0 1px;
    margin: 0 0 0 6px;
    padding: 8px 0 8px 8px;

    &:empty {
      display: none;
    }
  }

  &-button{
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    min-height: 30px;
    padding: 8px 10px;
    margin: 2px;
    background-clip: padding-box;
    text-transform: capitalize;
  }

  &-buttonText{
    text-shadow: 0 1px #ffffff;
  }

  &-dayButton {
    color: $white;
    border: none;
    cursor: default;
    text-transform: uppercase;
    float: left;

    &.is-schedule {
//      color: $grey;
//      background: linear-gradient(#fff, #f0f0f0);
//      background-color: $white;
//      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
//      background-clip: padding-box;
//      border: 1px solid rgba(0,0,0,0.3);
//      text-shadow: none;
      display: inline;
    }
  }

  &.grid:hover .Event-dayButton {
//    color: $grey;
//    background: linear-gradient(#fff, #f0f0f0);
//    background-color: $white;
//    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
//    background-clip: padding-box;
//    border: 1px solid rgba(0,0,0,0.3);
//    text-shadow: 0 1px #ffffff;
  }

  &.grid:hover .Event-subCat {
    opacity: 1;
    font-weight: 500;
  }

  &.grid:hover .item {
    display: block;
  }



  &-agendaButton{
    color: #3B5450;
    text-shadow: 0 1px #ffffff;
    background: linear-gradient(#fff, #f0f0f0);
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.3);
    display: none;
    cursor: pointer;
    background-clip: padding-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    float: right;

    &:hover{
      color: $white;
      text-shadow: 0 1px $green;
      background-color: $green;
      background: linear-gradient($green, $green-dark);

      & .Event-buttonText{
        text-shadow: 0 1px $green-dark;
      }
    }

    &.is-schedule {
      display: inline;
      color: $white;
      background-color: $green;
      background: linear-gradient($green, $green-dark);

      & .Event-buttonText{
        text-shadow: none;
      }

      & .Event-agendedByCount{
        text-shadow: none;
      }
    }
  }




  &-buttonsBox {
    position: absolute;
    z-index: 8;
    left: 0;
    width: 100%;
    padding: 5px 20px 0 15px;;
    top: 0;

    & .label-default {
      background: desaturate($blue, 80%);
      color: $white;
    }
  }

  &-content{
    padding: 0 10px;
    position: relative;
  }

  & a {

    &:hover {
      text-decoration: none;
    }
  }
  & h2 {
    & a {
      color: $grey;
      font-family: $font-family-default;
      font-size: 18px;
      font-weight: normal;
      &:hover {
        color: $green;
        text-decoration: none;
      }
    }
  }
  & h4 {
    color: #384047;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
  }



  & .block {
    float: left;
    margin: 0 0 35px;
    width: 100%;
  }
  & .panel {
    margin: 0;
    & .col-sm-8 {
      height: 200px;
    }
    & .col-sm-4 {

    }
    & img {

      &:hover {
        /*opacity:0.75;
        margin-left: -35.5%;*/
      }
    ;
    }
  }

  & .caption {
    font-family: $font-family-default;
    font-weight: 300;
    position: relative;
  }

  &-subCat {
    font-size: 9px;
    opacity: 0.5;
    position: absolute;
    text-transform: uppercase;
    top: -13px;
  }

  & .description {
    color: scale_color($grey, $lightness: 10%);
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 12px;
    max-height: 100px;
    overflow: hidden;
  }

  &-infos{
    background: #FCFCFC;
    margin: 0 -10px 0;
    border-top: 1px solid #f1f1f1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 35px;
    padding: 0 12px;


    & .free{
      color: $green;
      font-weight: 600;
    }

    &Item{
      padding: 9px 12px 0;
      color: scale_color($grey, $lightness: 20%);
      font-family: $font-family-default;
      font-size: 12px;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }

    &Price{
      float: left;
    }

    &Rating{
      float: left;

      &Star{

      }
    }
  }


  & .transport {
    background: none repeat scroll 0 0 #FBFCFC;
    padding: 4px 6px 4px 15px;
    cursor: help;
    & .icon {
      margin: -4px 6px 0 -6px !important;
      padding: 0;
    }
  }


  & .today {

  }
  & .tomorrow {

  }

  &-imageBox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F9F7F7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    margin: 0 -10px;
    overflow: hidden;
  }



  &-detailsBox {
    height: 40px;
    position: absolute;
    right: 0;
    top: 140px;
    width: 100%;
    padding: 10px 10px;

    & .buttons {
      opacity: 0;
      margin: 25px auto 0;
      text-align: center;
      width: 60%;
      min-width: 135px;

      & .btn {
        margin-bottom: 6px;

        &:hover {

          & > .glyphicon {
            display: inline-block;
          }
        }
      }

      & .glyphicon {
        display: none;
        margin: 1px -24px 0 6px;
        vertical-align: text-top;
      }

    }
  }

  &.grid:hover .Event-detailsBox{
    background: linear-gradient(to top, rgba(0,0,0,0.6) 25%, transparent 100%);
  }

  &-categories {

    & .item {
      display: none;
      border-radius: 15px;
      color: #ffffff;
      float: right;
      font-family: "Roboto", helvetica, arial, sans-serif;
      font-size: 11.5px;
      font-weight: 500;
      margin: 0 0 0 3px;
      padding: 4px 10px;
      transition: all 0.45s ease 0s;

      & .circle {
        border-radius: 3px;
        float: left;
        height: 5px;
        margin: 4px 4px 0 2px;
        width: 5px;
      }
    }
    & .leisure {
      background: $green;
    }
    & .health {
      background: $red;
    }
    & .sport {
      background: $orange;
    }
    & .education {
      background: $blue;
    }
    & .culture {
      background: $purple;
    }
    & .food {
      background: $yellow;
    }
  }
  & .nearbys {

    & .item {

    }
  }
  & .letter {
    background: $red;
    border-radius: 100%;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: 8px;
    width: 30px;
    z-index: 7;

    & span {
      color: #ffffff;
      font-family: varela round, sans-serif;
      font-size: 20px;
      position: relative;
      top: 0;
    }
  }



  &--newsFeed{
    margin: 0 0 30px 0;
    position: relative;
  }


}