.Navbar {
  background: linear-gradient(to bottom, rgba(56,186,94,1), rgba(56,186,94,0.8)) repeat-x scroll 0 0 rgba(56,186,94,0.5);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
  color: #FFFFFF;
  height: 70px;
  left: 0;
  margin: 0;
  padding: 0 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 110;

  &-logo {
    cursor: pointer;
    float: left;
    margin: 13px 0 0;
    & a{

      &:hover{
        text-decoration:none;
      }
    }
    & i{
      background: scale_color($green, $lightness: -10%);
      border-radius: 15px;
      bottom: 5px;
      font-size: 8px;
      font-style: normal;
      padding: 6px;
      position: relative;
    }
  }
  & .logo-small{
    cursor: pointer;
    float: left;
    margin: 15px 0 0;
    overflow: hidden;
    width: 35px;
  }
  & .dropdown-menu > li > a{

    color: $grey !important;

  }
  & .avatar{
    float: left;
    margin: 15px 0 0;
    position: relative;

    & .name{
      font-family: "Roboto",arial,sans-serif;
      margin: 0 0 0 6px;
      position: relative;
      top: -5px;
      & a{
        color: #ffffff;
        &:hover{
          text-decoration: none;
        }
      }
      & .persona{
        font-family: open sans, arial, sans-serif;
        font-size: 9px;
        font-weight: 300;
        vertical-align: middle;
        font-style: italic;
      }
    }
    & .badge{
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
      font-family: Helvetica;
      font-size: 10px;
      font-weight: normal;
    }
    & .level-image{
      left: 22px;
      position: absolute;
      top: 18px;
    }
    & .progress{
      background-color: #f5f5f5;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      height: 6px;
      left: 3px;
      overflow: visible;
      position: absolute;
      top: 22px;
      width: 100px;
      &:hover {

        & .progress-bar > span{
          display: inline;
        }
      }

      & .progress-bar{
        background-color: $blue;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        height: 6px;
        line-height: 0;

        & > span {
          background: $white;
          border-radius: 20px;
          color: $grey;
          display: none;
          font-size: 8px;
          font-weight: normal;
          padding: 3px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
  &-links{
    font-family: Roboto, helvetica,arial, sans-serif;
    margin: 28px 0 0;
    & li{
      display: inline;
      list-style: none outside none;
      margin: 0 0 0 5px;
      & a{
        color: #ffffff;
        text-decoration: none;
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;

        &:hover{
          background: scale_color($green, $lightness: -10%);
          text-decoration:none;
        };
      }
    }
  }

  &-bell {

    & .popover{
      width: 340px;
    }

    & .popover-content{
      padding: 0;

      & li{
        border-bottom: 1px solid $border-color;
      }

      & li:last-child{
        border-bottom: 0;
      }

      & img{
        float: left;
        margin: 0 6px 0 0;
      }

      & .text{
        float: left;
        line-height: 1em;
        padding: 4px 12px 0 0;
        width: 140px;
      }

      & .btn{
        float: right;
        margin: 6px 0 0;
      }

    }
  }
}