.Section{

  &-header{
    padding: 12px 0 25.5px;
  }

  &-title{
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  &-description{
    font-size: 15px;
    text-align: center;
    display: inherit;
    font-weight: 400;
    color: $grey-light;
  }
}