// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'variables';
@import 'modules/InformationBox';
@import 'modules/Event--single';
@import 'modules/Sidebar--single';

select > option {
    border-bottom: 1px solid #d7d9da;
    padding: 10px 8px;
}

.panel-body label{
	color: $grey;
	font-family: $font-family-default;
  font-size: 14px;
  font-weight: 300;
}

.place-inputs{
	
}

.place-div{
	transition-duration: 1.5s;
}

#map{
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin: 15px 0 35px;
}

#helper{
  display: none;
}

#helper > ul {
    margin: 0;
    padding: 0 0 0 25px;
}

.not-required{
  opacity: 0.25;
}

.not-required-block{
  display:none;
}

.event-img{
  background-size: cover;
  border: 1px solid #d1d1d1;
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 300;
  height: 120px;
  padding: 50px 10px;
  text-align: center;
  width: 100%;
  cursor:pointer;
}

.remove-img{
  cursor:pointer;
}

.separador{
  font-family: open sans;
  font-size: 12px;
  margin: -22px 0 8px;

  & .tab{
    background: none repeat scroll 0 0 #fcfcfc;
    border-color: #edeff0;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin: 0 3px 0 0;
    padding: 3px 6px;
  }
  & .col-sm-3{
  	margin: 25px 0 0;
  }
  & .col-sm-9{

  }
  & .tab-selected{
  	background: none repeat scroll 0 0 #FFFFFF;
  }
}

.event-file{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: 0 none !important;
}

.address-inputs{
	display: none;
}

.criar-lugar{
	
}

.no-padding{
	padding:0;
}



#btn-criar-lugar{
	display:none;
}

#hour-hide{
  display: none;
}

.address-search{

	& .col-sm-6{
		padding: 0 1px 0 0;
		& input{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	& .col-sm-2{
		padding: 0 1px 0 0;
		& input{
			border-radius:0;
		}
	}
	& .col-sm-4{
		padding: 0;
		& input{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

#single-map {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 215px;
}




.star > img {
  padding: 0 6px;
}

.raty-cancel {
  padding: 0 !important;
}

textarea.tip:focus{
  height: 100px;
}

.single-event-sidebar {

  & .icon{
    font-size: 16px;
    padding: 0 6px 0 0;
    vertical-align: baseline;    
  }

  & .img-circle{
    margin: 0 6px 0 0;    
  }
}

.box-top{
  position: absolute;
  top: 17px;
  left: 26px;
  z-index: 8;

  & .label{
    border-radius: 6px;
    font-family: helvetica;
    font-size: 12px;
    min-height: 30px;
    padding: 8px;
    text-transform: capitalize;
  }
  & .label-default{
    background: desaturate($blue, 80%);
    color: $white;
  }
  & .agenda-btn{      
    cursor: pointer;
  }
  & .schedule{

/*    &:hover{

      & .text{
        display:none;
      }
      &:after{
        content: 'Remover';
      }       
    }*/
  }
  & .unschedule{
    display: none;

    &:hover{
      background: $green;
      color: $white;

      & .agended-by-count{
        border-color: scale_color($green, $lightness: -10%);
      }

      & > a{
        color: $white;
      }
    }
  }
}


.avatar{
  position: relative;

  & .name{
    font-family: $font-family-default;
    margin: 0 0 0 6px;
    & a{
      color: #ffffff;
      &:hover{
        text-decoration: none;
      }
    }
  }
  & .level-image{
    left: 25px;
    position: absolute;
    top: 20px;        
  }   
} 


.small-avatar{
  
  & .level-image {
    left: 15px;
    position: absolute;
    top: 12px;
  }
  & .level-image img {
    width: 10px;
  }
  & .name {
    font-family: helvetica,arial,sans-serif;
  }
}