// Place all the styles related to the newsfeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import "modules/Sidebar--newsfeed";



ul {
  list-style: none;
  margin: 0;
  padding: 0;
  & li {

    & h2 {

    }
  }
}

#infobox-wrapper {
  height: 40px;
  font-family: $font-family-identity;
  line-height: 1em;

  & .infobox {
    display: none;
    overflow: hidden;
    z-index: 10;
  }
}

/* SIDEBAR USER */

#sidebar {
  margin: 10px 0 0;
}

#sidebar-user {
  margin-top: 50px;

  & .user-box {
    padding: 6px 15px !important;
  }
}

/* SIDEBAR MAP */



/* LOAD-EVENT-SIDEBAR */

#load-event-sidebar {
  display: none;
}


/* ------------------------------ */

#load-event {

  & .block {
    float: left;
    margin: 0 0 35px;
    width: 100%;
  }
}

#load-event-sidebar {
  margin: 0 15px 30px;

  & .block {
    border-bottom: 1px solid #EDEFF0;
    float: left;
    margin: 0;
    padding: 20px 0;
    width: 100%;
  }
  & .block:last-child {
    border-bottom: 0;
  }
}


.grid {
  margin: 0 0 30px 0;
}

.ranking-grid {
  height: 290px;
  overflow-y: scroll;
}


.avatar-icon {
  margin: -5px 0 0;
}

.cidade {
  margin: 25px 0 0;
  padding: 6px 0;
  float: left;
}

.bairro {
  padding: 6px 0;
}

#map {
  background-color: #E5E3DF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 180px;
  overflow: hidden;
  position: relative;
}

#load-map {
  height: 215px;
}

.list-group {

  & .small-avatar {
    & .level-image {
      left: 32px;
      position: absolute;
      top: 22px;
    }
    & .level-image img {
      width: 10px;
    }

  }
}

/* CSS para desktops 1024 */

@media (max-width: 1200px) {

  .col-sm-12 .caption .title a {
    font-size: 16px;
  }

  .col-sm-12 .caption .description {
    font-size: 11px;
    line-height: 16px;
  }

}


