  
  <div class="panel-heading">
    <h3>Publicado por</h3>
  </div>


  <div class="panel-body">
    <div class="avatar small-avatar">
      
      <%= get_avatar @event.user, "26", "26" %>
      
      <div class="level-image">
        <%= x_image_tag @event.user.level_icon_url, class: "has-tooltip", title: @event.user.level_name if @event.user.level %>
      </div>

      <%= link_to @event.user.name, show_user_path(@event.user) %> hรก <%= distance_of_time_in_words_to_now @event.created_at %>

    </div>        
  </div>