.Button{
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.65em;
  font-size: 12px;
  font-family: $font-family-default;
  color: $font-color-default;

  &--small{
    font-size: 10px;
    padding: 8px;
    font-weight: 200;
  }

  &--large{
    font-size: 16px;
    padding: 0.85em 1.5em;
    font-weight: 400;
  }

  &--primary{
    background: $green;
    color: $white;
  }

  &--callToAction{
    background: $white;
    color: $grey;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);

    &:hover{
      background: scale_color($white, $lightness: -2%);
      box-shadow: 0 3px 5px rgba(0,0,0,0.15);
    }
  }

  &-text{
    font-weight: 400;
  }

  &-description{
    font-size: 13px;
  }

  &:hover{

  }

  &:disabled{
    background: scale_color($grey, $lightness: 90%);
    color: scale_color($grey, $lightness: 50%);
    cursor: not-allowed;
  }

}