.Input{
  width: 100%;
  padding: 0.85em;
  border-radius: 4px;
  background: $grey-lightness;
  border: 2px solid #c7c7c7;
  outline: 0;

  &--large{

  }

  &--small{

  }

  &:focus{
    background: scale_color($grey-lightness, $lightness: 50%);
    border: 2px solid $purple;
    box-shadow: none;
  }
}

.checkbox .Input{
  top: 15px;
}