
<footer>
  <ul>
  	<li><a><%= t('footer.terms') %></a></li>
  	<li><a><%= t('footer.contact_email') %></a></li>
  	<li><a href="https://www.facebook.com/app.Villeme">Facebook</a></li>
    <li><a href="https://crowdcreative.github.io" class="has-tooltip">Empreenda com a gente</a></li>
    <li><a class="has-modal-feedback">Sugestões e erros</a></li>
  </ul>
</footer>