
<footer>
  <ul>
  	<!-- <li><a href="">Sobre</a></li> -->
  	<!-- <li><a href="">Blog</a></li> -->
  	<li><a href="">Termos</a></li>
  	<li id="contato"><a href="">Contato</a></li>
  	<!-- <li><a href="">Twitter</a></li> -->
  	<li><a href="https://www.facebook.com/app.Villeme">Facebook</a></li>
    <li><a href="https://crowdcreative.github.io" class="has-tooltip" title="Todas as habilidades são bem vindas e, neste momento, programadores, RPs e UX designers possuem bastante demanda">Empreenda com a gente</a></li>
    <li><a class="has-modal-feedback">Sugestões e erros</a></li>
  </ul>
</footer>