
<div class="js-ModalLogin modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="Modal-closeButton close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title u-centralize"><b>Entrar ou solicitar convite</b></h4>
      </div>

      <div class="modal-body u-centralize">
        <div class="Modal-alert js-Modal-alert u-centralize">
          <span class="glyphicon glyphicon-info-sign"></span>
          <span class="js-ModalLogin-alert"></span>
        </div>

        <%= link_to welcome_path do %>
            <div class="Button Button--primary Button--large u-centralize u-margin-0-0-0-15">
              <%= t('welcome.first_screen.request_invite') %>
            </div>
        <% end %>

        <span>ou <%= link_to 'entre com o facebook', user_omniauth_authorize_path(:facebook), class: 'fake-link has-tooltip', title: t('welcome.tooltip.have_an_invitation'), 'data-placement' => 'bottom' %></span>


      </div>


    </div>
  </div>
</div>