
  <div id="shelf">
    <ul class="settings">
      <li>
        <% if user_signed_in? %>
          <%= link_to conta_edit_path  do %>
            <div class="item has-tooltip glyphicon glyphicon-cog" data-placement="right" title="Configurações"></div>
          <% end %>
        <% end %>
      </li>    
      <li>
        <% if user_signed_in? %>
          <%= link_to sair_path  do %>
            <div class="item has-tooltip glyphicon glyphicon-log-out" data-placement="right" title="Sair"></div>
          <% end %>
        <% end %>
      </li>    
    </ul>
  </div>